POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pb138
DB_PORT=5432

# Connection String
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@your_supabase_pooler_host:5432/your_database_name

# Application Settings
NODE_ENV=development
PORT=3001